/* Exhibit.css */
.exhibit {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.exhibit-heading {
  font-size: 24px;
  padding: 20px;
  background-color: #3b5998;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
}

.exhibit-content {
  padding: 20px;
}
